body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

div > .btn {
  margin: 5px 5px 5px 5px;
}

.logout-button {
  margin-left: 100px;
  margin-top: 30px;
}

.tellme-modal {
  padding: 10px;
}

.tellme-input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2px;
  width: 300px;
  min-height: 20px;
  color: #555;
  font-size: 15px;
  border: none;
  background-color: #eee;
  border:1px solid;
  border-color:#ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.error-feedback {
  background-color: #E34034
}
